<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:c="">
<head>
    <meta charset="UTF-8">
  <link href="/web/static/css/online-reg.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Account</title>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid" style="background: linear-gradient(80deg, rgb(160, 220, 255) 50%, #61ffa5 100%);">
      <a class="navbar-brand" href="#">
        <h4>N-Bank</h4>
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/web/bank">Назад</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/web/info">Информация</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Выбрать язык
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">RUS</a></li>
              <li><a class="dropdown-item" href="#">ENG</a></li>
              <!-- <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#"></a></li> -->
            </ul>
          </li>
          <div th:fragment="header">
            <form action="/logout" method="post">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/web/login">Log out</a>
          </li>
            </form>
          </div>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>


<div class="container-fluid">
  <div class="text-page" >
    <h3>Open Account!</h3>
  </div>
  <div class="row">

    <div class="col-lg-6 col-md-12"
         style="background: linear-gradient(80deg, rgb(160, 220, 255) 50%, #61ffa5 100%);">
      <div class="header">


        <form method="post"action="/web/account">
          <input type="hidden" name="id" value="${client.client_id}"/>
<p>Выберите валюту счета и нажмите кнопку 'создать счет'! </p>

          <div class="mb-3">
            <label for="currency">Currency</label>
            <select id="currency" name="currency" required style="margin-bottom: 60px;">
              <option th:each="currency : ${T(by.nata.data.entity.Currency).values()}"
                      th:value="${currency}" th:text="${currency}"></option>
            </select>
          </div>

          <p>Номер счета и пин код присваевается автоматически, пин-код будет выслан вам сообщением. </p>

          <button class="btn btn-primary" type="submit">Create Account</button>
        </form>
<!--        <div>-->
<!--          <img src="/web/static/img/phone.jpg">-->

<!--        </div>-->
      </div>



    </div>

    <div class="col-lg-6 col-md-12"
         style="background: linear-gradient(80deg, rgb(160, 220, 255) 50%, #61ffa5 100%);">



      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <img src="/web/static/img/img1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Карточки</h5>
              <p class="card-text">Оформив карту online, вы можете забрать ее в любом отделении
                банка или закать доставку на дом. </p>
              <a href="/web/createCard" class="btn btn-primary">Заказать карту</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <img src="/web/static/img/1579290380_12-18.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Кредиты</h5>
              <p class="card-text">N-BANK предлагает вам различные виды кредитов под небольшие
                проценты.
                дома. </p>
              <a href="#" class="btn btn-primary">Оформить кредит</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <img src="/web/static/img/money-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Вклады</h5>
              <p class="card-text">Совершайте денежные вклады под выгодные проценты на любой
                срок.
              </p>
              <a href="#" class="btn btn-primary">Оформить вклад</a>
            </div>
          </div>
        </div>
      </div>
<!--      <p>-->
<!--      <h1>ИПОТЕКА ПОД 15% ГОДОВЫХ</h1>-->
<!--      </p>-->
<!--      <img src="/web/static/img/house.jpg" class="d-block w-100" alt="...">-->
    </div>

  </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>