<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <link href="/web/static/css/online-reg.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Admin page</title>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid" style="background: linear-gradient(80deg, rgb(160, 220, 255) 50%, #61ffa5 100%);">
      <a class="navbar-brand" href="#">
        <h4>N-Bank</h4>
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/web/bank">Назад</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/web/info">Информация</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Выбрать язык
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">RUS</a></li>
              <li><a class="dropdown-item" href="#">ENG</a></li>
              <!-- <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#"></a></li> -->
            </ul>
          </li>
          <div th:fragment="header">
            <form action="/logout" method="post">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/web/login">Log out</a>
              </li>
            </form>
          </div>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>


<div class="container-fluid">
  <div class="text-page" >
    <h3>Bank Admin Page!</h3>
  </div>
  <div class="row">

    <div class="col-lg-6 col-md-12"
         style="background: linear-gradient(80deg, rgb(160, 220, 255) 50%, #61ffa5 100%);">
      <div class="header">
        <h2>Find client by Id!</h2>

        <form th:action="@{/admin}" method="post" onsubmit="return showConfirmation()">


<!--          <input type="hidden" value="${account.account_id}" />-->

          <div class="mb-3">
            <label for="id" class="form-label">Enter Client Id</label>
            <input type="text" name="id" class="form-control" id="id" placeholder="Id" required>
          </div>

          <button type="submit">Find client</button>
        </form>

        <p> </p>


      </div>

      <div class="header">
        <h2>Find account by Number!</h2>

        <form th:action="@{/findAccount}" method="post" onsubmit="return showConfirmation()">


          <!--          <input type="hidden" value="${account.account_id}" />-->

          <div class="mb-3">
            <label for="accountNumber" class="form-label">Enter Account Id</label>
            <input type="text" name="accountNumber" class="form-control" id="accountNumber" placeholder="AccountNumber" required>
          </div>

          <button type="submit">Find accountNumber</button>
        </form>

        <p> </p>


      </div>

      <div class="header">
        <h2>Find card by Number!</h2>

        <form th:action="@{/findCard}" method="post" onsubmit="return showConfirmation()">


          <!--          <input type="hidden" value="${account.account_id}" />-->

          <div class="mb-3">
            <label for="cardNumber" class="form-label">Enter Client Id</label>
            <input type="text" name="cardNumber" class="form-control" id="cardNumber" placeholder="CardNumber" required>
          </div>

          <button type="submit">Find cardNumber</button>
        </form>

        <p> </p>


      </div>


    </div>

    <div class="col-lg-6 col-md-12"
         style="background: linear-gradient(80deg, rgb(160, 220, 255) 50%, #61ffa5 100%);">

      <div class="header">
        <h2>Delete client by Id!</h2>

                <form th:action="@{/delete}" method="post" onsubmit="return showConfirmation()">


                  <!--          <input type="hidden" value="${account.account_id}" />-->

                  <div class="mb-3">
                    <label for="id" class="form-label">Enter Client Id</label>
                    <input type="text" name="id" class="form-control" id="id" placeholder="Id" required>
                  </div>

                  <button type="submit">Delete client</button>
                </form>

        <p> </p>


      </div>
<!--      <div>-->
<!--        <img src="/web/static/img/iotBnk.jpg" class="card-img-top" alt="...">-->
<!--        <h2>Совершай мгновенные переводы по всему миру!</h2>-->
<!--      </div>-->

      <div class="header">
        <h2>Delete account by AccountNumber!</h2>
<!--        th:action="@{/deleteAccount/{accountNumber}}"-->
        <form th:action="@{/deleteAccount}" method="post" onsubmit="return showConfirmation()">


          <!--          <input type="hidden" value="${account.account_id}" />-->

          <div class="mb-3">
            <label for="accountNumber" class="form-label">Enter AccountNumber</label>
            <input type="text" name="accountNumber" class="form-control" id="accountNumber" placeholder="AccountNumber" required>
          </div>

          <button type="submit">Delete accountNumber</button>
        </form>

        <p> </p>


      </div>

      <div class="header">
        <h2>Delete card by cardNumber!</h2>

        <form th:action="@{/deleteCard}" method="post" onsubmit="return showConfirmation()">


          <!--          <input type="hidden" value="${account.account_id}" />-->

          <div class="mb-3">
            <label for="cardNumber" class="form-label">Enter CardNumber</label>
            <input type="text" name="cardNumber" class="form-control" id="cardNumber" placeholder="cardNumber" required>
          </div>

          <button type="submit">Delete Card</button>
        </form>

        <p> </p>


      </div>

    </div>

  </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>