<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/web/static/css/info.css" rel="stylesheet" />
    <title>Info</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">

            <div class="container-fluid"
                style="background: linear-gradient(80deg, rgb(160, 220, 255) 50%, #61ffa5 100%);">
                <a class="navbar-brand" href="#">
                    <h4>N-Bank</h4>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/web/login">Назад</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/web/registration">online-регистрация</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Выбрать язык
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">RUS</a></li>
                                <li><a class="dropdown-item" href="#">ENG</a></li>
                                <!-- <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#"></a></li> -->
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    <div style="border: 1px dotted #000000; padding: 10px 15px 15px 15px; margin: 10px 0 20px 0; text-align: justify;">

        <h2>Уважаемые клиенты!</h2>
        </p>
        <p style="margin: 8px 0 20px 0;">
            В связи с проведением ОАО "Банковский процессинговый центр" срочных технологических работ в период времени
            с<b> 03:00 до 06:00 20.01.2024</b> возможны краткосрочные перерывы в обслуживании держателей платежных
            карточек банка в сети организаций торговли (сервиса), пунктах выдачи наличных, банкоматах и устройствах
            самообслуживания, обслуживаемых банком.
            <br>
        </p>

        <p>
            Приносим извинения за возможные неудобства.
        </p>
    </div>

    <div style="border: 1px dotted #000000; padding: 10px 15px 15px 15px; margin: 10px 0 20px 0; text-align: justify;">

    <h3>Уважаемые клиенты, будьте бдительны!</h3>
    <p>
        Вход в систему «Интернет-банкинг» осуществляйте с официального сайта банка, не переходите по подозрительным
        ссылкам.
    </p>
    <p>
        Внимательно проверяйте ссылку: не перепутаны ли буквы в названии сайта. Удостоверьтесь в том, что Вы находитесь
        именно на сайте <a href="">https://nbank.by</a> принадлежащем ОАО «NBANK» (подробности в инструкции пользователя в разделе
        Безопасность работы в системе «Интернет-банкинг»).
    </p>
    <br>
    <p>
        <b> Не передавайте третьим лицам информацию </b>(в том числе сотрудникам Банка, родственникам, друзьям,
        знакомым):<br>
        - данные для входа в систему «Интернет-банкинг» (логин, пароль, карта-кодов);<br>
        - пароли 3D-Secure;<br>
        - СМС-коды, направляемые от имени Банка, в том числе путем ввода данных на сомнительных веб-страницах;<br>
        - реквизиты платежных карточек (номер, срок действия карточки, СVV/CVC-код);<br>
        - ПИН-код;<br>
        - идентификационный номер документа, удостоверяющего личность.
    </p>
    <br>
    <p>
        <b>В случае если</b> по каким-то причинам вышеуказанные данные были скомпрометированы:
    </p>
    <p>
        -<u> незамедлительно заблокируйте учетную запись</u> системы «Интернет-банкинг» путем трехкратного неверного
        ввода пароля либо по телефону Контакт-центра <b>555</b>;
    </p>
    <p>

        -<u> заблокируйте карточку</u> по телефону круглосуточной службы сервиса клиентов ОАО «Банковский процессинговый
        центр» по телефону <b>(017) 333 25 33</b>, обратитесь в ближайшее <b>отделение банка</b> или позвоните в
        Контакт-центр банка по номеру <b>555</b>.
    </p>
    <br>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
crossorigin="anonymous"></script>

</body>

</html>