<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head>
    <meta charset="UTF-8">
<!--    <link href="/web/static/css/bank.css" rel="stylesheet" />-->
<!--    <link href=http://www.springframework.org/security/tags" rel="stylesheet" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>N_BANK</title>
</head>
<style>
    body{
    background: linear-gradient(80deg, rgb(160, 220, 255) 50%, #61ffa5 100%);
    box-shadow: 10px 1px 33px 15px #000000, 4px 5px 10px 1px #000000, 5px 5px 10px 1px #000000;
}
.navbar-brand {

    width: 80px;
    height: 66px;
    background: url("/web/static/img/v8_20.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.card{
    background: linear-gradient(80deg, rgb(160, 220, 255) 50%, #61ffa5 100%);
}
</style>

<body>
<!--<p th:text="${greetingMessage}"></p>-->
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">

            <div class="container-fluid"
                style="background: linear-gradient(80deg, rgb(160, 220, 255) 50%, #61ffa5 100%);">
                <a class="navbar-brand" href="/web/info">
                    <h4>N-Bank</h4>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/web/info">Информация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/web/registration">online-регистрация</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:fragment="locale" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Выбрать язык
                            </a>
                            <ul class="dropdown-menu" name="lang" onchange="this.form.submit()">
                                <li><a class="dropdown-item" href="">RUS</a></li>
                                <li><a class="dropdown-item" href="">ENG</a></li>
                                <!-- <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#"></a></li> -->
                            </ul>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
<!--                        </li>-->
                    </ul>
                    <form method="post" class="d-flex" role="search" action="/web/login" name="login">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><a href="https://google.com"> Search</a></button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="cookie" style=" padding: 10px 15px 15px 15px; margin: 10px 0 20px 0; text-align: justify;">
            <div style="display: block;">

                <div class="page-notifications__wrap">
                    <div class="page-notifications__content"> Мы используем файлы cookie для улучшения работы сайта.
                        Подробную информацию вы найдете в
                        <a href="https://www.alfabank.by/upload/docs/bank/polit-konfend-angl-rus.pdf"
                            target="_blank">Политике конфиденциальности</a>
                    </div>
                    <div class="page-notifications__btns">
                        <!-- <button class="button usual adaptive " data-action="saveData" data-url="/api/cookies/response.php"
                            data-val="false" fdprocessedid="kr7h0g">
                            <span class="button__content" tabindex="-1">Отклонить</span>
                        </button> -->
                        <!-- <button class="button primary-btn" data-action="saveData" data-url="/api/cookies/response.php"
                            data-val="true" fdprocessedid="33qlu">
                            <span class="button__content" tabindex="-1">Принять</span>
                        </button> -->
                        <button type="button" class="btn btn-outline-dark">Принять</button>
                        <button type="button" class="btn btn-outline-dark">Отклонить</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-4 col-md-12" style="background: linear-gradient(80deg, rgb(160, 220, 255) 50%, #61ffa5 100%);">
                    <div class="row">
                        <div>
                            <div class="col-lg-12">
                                <h3 >Авторизация в системе</h3>


                                <div class="login">
<div style="color: red" th:if="${param.error}">
    Invalid username and password.

</div>
                                     <form method="POST" action="/web/login" name="Login" class="form-signin">
<!--                                         <input type="hidden" name="id" value="${client.client_id}"/>-->
                                         <div>
                                             <label for="username" class="sr-only">
                                                 <input id="username" type="text" name="username" placeholder="Логин">
                                             </label>
                                         </div>

                                         <div>
                                             <label for="password" class="sr-only">
                                                 <input id="password" type="password" name="password"  placeholder="Пароль">
                                                 <i class="password-eye-invisible"></i>
                                             </label>
                                         </div>
                                         <br>
                                         <td>
                                             <input type="hidden" name="Login" />
                                             <!--  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
                                             <!--  <button type="submit" placeholder="Войти"></button>-->
                                             <input tabindex="4" type="submit" onclick="loginWithKFP(this);" value="Войти" class="button" />
                                         </td>
                                     </form>

                                </div>



                                <table class="secondStepTypeSelection">
                                    <tr>
                                        <td style="vertical-align: top;">
                                            <input type="hidden" name="sendSMS">
                                            <a tabindex="5" href="#"
                                                style="display: block; margin-top: 10px; margin-left: 5px;"
                                                onclick="event.preventDefault();document.forms.LoginForm1.bbibChangePwdByBlockedClientAction_sendSMS.value='gotoUnblock';document.forms.LoginForm1.submit();"
                                                class="sms">Забыли пароль?</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input tabindex="3"
                                                title="Авторизация на втором шаге посредством ввода одноразового СМС-кода"
                                                name="bbibCodeSMSField" id="authType2" type="radio" value="1">
                                            <label for="authType2">Одноразовый СМС-код</label>
                                        </td>
                                    </tr>
                                </table>



<!--                                <tr>-->
<!--                                    <td style="vertical-align: top;">-->
<!--                                        <input type="hidden" name="bbibUnblockAction">-->
<!--                                        <a tabindex="5" href="#" style="display: block; margin-top: 10px;"-->
<!--                                            onclick="event.preventDefault();document.forms.LoginForm1.bbibUnblockAction.value='gotoUnblock';document.forms.LoginForm1.submit();"-->
<!--                                            class="sms">Разблокировать по СМС</a>-->
<!--                                    </td>-->

<!--                                </tr>-->
                                <p> <a href="/web/registration">Зарегистрироваться в системе банка</a></p>
                                <p><h6>Подписка на E-MAIL рассылку от N_BANK</h6></p> <a href="">>>></a></p>
<!--                                <p><h6>НовосиK</h6></p> <a href="">>>></a></p>-->

                                <div id="footer">
                                    <a href="#" target="_blank">
                                        <div class="f_left">
                                            <p>&copy; 2023, ОАО &laquo;NBANK&raquo;</p>
                                            <p>Минск, пр-т Независимости, 30</p>
                                        </div>
                                        <div class="f_right">
                                            <p>Телефоны: 555, (017) 333-22-33</p>
                                            <p>E-mail: info@Nbank.by</p>
                                        </div>
                        
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <img src="/web/static/img/cards.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Карточки</h5>
                                    <p class="card-text">Оформив карту online, вы можете забрать ее в любом отделении
                                        банка или закать доставку на дом. </p>
                                    <sec:authorize access="hasRole('ROLE_ADMIN')">
                                    <a href="/web/card" class="btn btn-primary">Заказать карту</a>
                                    </sec:authorize>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <img src="/web/static/img/img1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Кредиты</h5>
                                    <p class="card-text">N-BANK предлагает вам различные виды кредитов под небольшие
                                        проценты. Не нужно откладывать покупки, оформите кредит online не выходя из
                                        дома. </p>
                                    <sec:authorize access="hasRole('ROLE_ADMIN')">
                                    <a href="/web/credit" class="btn btn-primary">Оформить кредит</a>
                                    </sec:authorize>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <img src="/web/static/img/persent.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Вклады</h5>
                                    <p class="card-text">Совершайте денежные вклады под выгодные проценты на любой срок.
                                    </p>
                                    <sec:authorize access="hasRole('ROLE_ADMIN')">
                                    <a href="/web/contribution" class="btn btn-primary">Оформить вклад</a>
                                    </sec:authorize>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
      


       
       


    </section>

    <footer>
        <!-- <div class="card_bank"><img src="./images/bank.png" alt=""></div> -->
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>